{% extends 'base_layout.html' %}
{% block content %}

    <!-- Main Content -->
    <div class="min-h-screen  flex flex-col items-center justify-center pt-8">
        <!-- Title and Description -->
        <div class="relative text-center mb-8">
            <h1 class="monoton-regular relative text-9xl w-10-- font-bold text-black font-mono">T4U</h1>
        </div>
        <div class="max-w-2xl mx-auto px-4 text-center mb-16">
            <p class="text-lg text-black">
                Meet T4U, your personal speech-to-text companion! Say it, and T4U transcribes your words
                instantly. Communicate effortlessly for messaging, note-taking, and chatting. Empower your
                voice with T4U and experience seamless communication today!
            </p>
        </div>
    
{%endblock%}